{% extends 'emails/base_email.html' %}
{% block email_body %}
<h1 style="margin:0 0 16px 0; font-size:22px; font-family: Arial, Helvetica, sans-serif;">Your password was changed</h1>
<p style="margin:0 0 16px 0; font-size:15px; line-height:1.6; color:#0B1120; font-family: Arial, Helvetica, sans-serif;">
  Hi {{ user.first_name|default:user.username }}, this is a confirmation that your {{ SITE_NAME }} account password was just changed.
</p>
<p style="margin:0; font-size:15px; line-height:1.6; color:#4B5468; font-family: Arial, Helvetica, sans-serif;">
  If you didn't make this change, please contact our support team immediately.
</p>
{% endblock %}
